<section class="desktop-icons" aria-label="Atalhos de aplicações">
  <% apps.forEach((app) => { %>
    <a
      class="desktop-icon <%= app.url === '#' ? 'is-disabled' : '' %>"
      href="<%= app.url %>"
      title="<%= app.name %>"
      aria-label="Abrir <%= app.name %>"
    >
      <span class="desktop-icon-face"><%= app.icon %></span>
      <span class="desktop-icon-label"><%= app.name %></span>
    </a>
  <% }) %>
</section>
